@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --secondary-font: "Playfair Display", serif;
  --primary-font: "Montserrat", sans-serif;
  margin-left: 236px;
}

/* .top {
  margin-left: 236px;
} */
.top h1 {
  font-family: var(--secondary-font);
  font-size: 48px;
  font-weight: 700;
  margin-top: 52px;
}

.more {
  margin-bottom: 43px;
  display: flex;
}
.more p {
  margin-left: 12px;
  width: 592px;
  margin-top: 36px;
}

.image-cake img {
  width: 969px;
  height: 444px;
  margin-bottom: 48px;
}

.ingredients {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
}

.ing p {
  font-family: var(--secondary-font);
  font-size: 18px;
  margin-bottom: 31px;
  margin-top: 32px;
}

.ing span {
  font-size: 16px;
  font-family: var(--primary-font);
  margin-left: 12px;
  margin-bottom: 12px;
}

.checkbox-ing-1,
.checkbox-ing-2,
.checkbox-ing-3,
.checkbox-ing-4,
.checkbox-ing-5,
.checkbox-ing-6 {
  margin-bottom: 12px;
}

.checkbox-ing-7 {
  margin-bottom: 28px;
}

.time {
  background: white;
  /* text-align: center; */
  width: 216px;
  height: 367px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.servings,
.total,
.cook,
.prep {
  display: flex;
  margin: 40px;
}

.material-icons {
  margin-right: 12px;
  width: 28.33px;
  height: 26.52px;
}

.servings .material-icons {
  color: #f2994a;
}
.servings h4 {
  color: #f2994a;
}

.servings h4,
.total h4,
.cook h4,
.prep h4 {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
}

.servings p,
.total p,
.cook p,
.prep p {
  font-family: var(--primary-font);
  font-size: 10px;
  font-weight: 700;
  color: #bdbdbd;
}

.method h2 {
  margin-bottom: 28px;
}

.method button {
  width: 36px;
  height: 36px;
  background-color: orange;
  border: transparent;
  border-radius: 6px;
  font-size: 24px;
  font-family: var(--secondary-font);
  color: white;
  text-align: center;
  font-weight: 700;
}

.method-1,
.method-2,
.method-3,
.method-4,
.method-5,
.method-6,
.method-7 {
  margin-top: 38px;
  display: flex;
}

.method p {
  margin-left: 13px;
  font-size: 16px;
  line-height: 24px;
  width: 549px;
  font-family: var(--primary-font);
}
.method-7 {
  margin-bottom: 57px;
}

.source a {
  color: rgb(173, 173, 173);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
}

.source {
  margin-bottom: 93px;
}

.footer {
  text-align: center;
  color: rgb(85, 85, 85);
  margin-bottom: 15px;
}

@media screen and (max-width: 909px) {
  body {
    margin-left: 11px;
  }
  .top h1 {
    font-size: 24px;
    margin-top: 32px;
  }

  .more {
    margin-bottom: 16px;
    display: flex;
  }
  .more img {
    margin-top: -58px;
  }
  .more p {
    margin-left: 12px;
    width: 320px;
    margin-top: 13px;
  }

  .image-cake img {
    width: 352px;
    height: 202px;
    margin-bottom: 24px;
  }

  .ingredients {
    display: flex;
    flex-direction: column-reverse;
    width: 323px;
  }

  h2 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
  }

  .ing p {
    font-family: var(--secondary-font);
    font-size: 16px;
    margin-bottom: 31px;
    margin-top: 32px;
  }

  .ing span {
    font-size: 14px;
    font-family: var(--primary-font);
    margin-left: 12px;
    margin-bottom: 12px;
  }

  .checkbox-ing-1,
  .checkbox-ing-2,
  .checkbox-ing-3,
  .checkbox-ing-4,
  .checkbox-ing-5,
  .checkbox-ing-6 {
    margin-bottom: 3px;
  }

  .checkbox-ing-7 {
    margin-bottom: 28px;
  }

  .time {
    /* text-align: center; */
    width: 352px;
    height: 142px;
    border-radius: none;
    box-shadow: none;
  }
  .time-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .servings,
  .total,
  .cook,
  .prep {
    margin: 0px;
    margin-bottom: 32px;
  }

  .material-icons {
    margin-right: 12px;
    width: 13.54px;
    height: 12.57px;
  }

  .servings h4,
  .total h4,
  .cook h4,
  .prep h4 {
    font-size: 10px;
  }

  .servings p,
  .total p,
  .cook p,
  .prep p {
    font-family: var(--primary-font);
    font-size: 8px;
  }

  .method h2 {
    margin-bottom: 28px;
    font-size: 24px;
  }

  .method-1,
  .method-2,
  .method-3,
  .method-4,
  .method-5,
  .method-6,
  .method-7 {
    margin-top: 28px;
    display: flex;
  }

  .method p {
    width: 300px;
  }
  .method-7 {
    margin-bottom: 57px;
  }

  .source a {
    font-size: 12px;
  }

  .source {
    margin-bottom: 93px;
  }
}
